<template>

  <div>
    <div v-for="action in actionButtons" :key="action.id" class="inline-block md:block">
      <button v-if="action.enabled" :title="action.name" type="button" :class="action.classes" @click="$emit('action', action.id)">
        <font-awesome-icon v-if="action.icon" :icon="action.icon" style="width: 15px" /><span v-if="showName" class="inline-block ml-1">{{ action.name }}</span>
      </button>
    </div>
  </div>

</template>

<script lang="ts">
  import Vue from 'vue';

  import IActionItem from '@/interface/IActionItem';

  export default Vue.extend({
    name: 'ActionButtons',
    props: {
     actionButtons: {
        type: Array as () => IActionItem[],
        default: []
      },
      showName: {
        type: Boolean,
        default: true
      }
    }
  });
</script>
